body {
  background-color: azure;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  color: darkolivegreen;
  text-align: center;
  text-shadow: 2px 2px white;
}

footer {
  text-align: right;
}

article {
  background-color: rgba(255, 255, 255, 0.75);
  width: 80%;
  margin: 20px auto;
  border: 1px solid darkolivegreen;
  padding: 5px 10px;
}

h1 {
  background-image: url("images/main.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 150px;
  line-height: 150px;
  padding-top: 15px;
  background-size: cover;
}

body {
  background-image: url("images/plante_fond.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  background: linear-gradient(to bottom, green, lime);
}

h3 {
  background: radial-gradient(ellipse at top, green, white);
}

img {
  width: 100%;
}

h4 {
  height: 20px;
  padding-top: 5px;
}

section {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid white;
}

article > img {
  max-width: 35%;
  max-height: 200px;
}